@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #e1e1e1;
  animation: fadeIn 2s;
  display: flex;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: auto;
  width: 70%;
}

/* Start header section */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 12px;
  margin: 24px auto;
  padding: 12px;
}

.logoContainer {
  width: 10%;
}

#logoImg {
  width: 100%;
  margin: 8px;
  transition: 0.3s ease;
}

#logoImg:hover {
  scale: 105%;
}

.navbarBtnContainer {
  display: flex;
}

.navbarBtnContainer a {
  text-decoration: none;
  color: rgb(110, 110, 110);
  padding: 12px;
  transition: 0.5s;
}

.navbarBtnContainer a:hover {
  color: #0066ff;
}

#navbarRightBtn i {
  scale: 250%;
}

#navbarBtn {
  margin: 0px 12px;
}

/* End header section */
/* --- */
/* Start Hero section */
.heroImgContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  height: 35em;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.heroImgContainer h1 {
  z-index: 2;
  position: absolute;
  font-size: 38px;
  text-align: center;
  color: #fff;
  margin-top: -100px;
}

.heroSlider {
  display: none;
}

.slideshow-container {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

.heroSlider img {
  opacity: 50%;
  filter: blur(4px);
  width: 100%;
  z-index: -1;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 1em 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #0066ff;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
#heroBtn {
  z-index: 2;
  position: absolute;
  background-color: rgb(110, 110, 110);
  border: none;
  padding: 16px 0px;
  margin-top: 60px;
  border-radius: 12px;
  transition: 0.5s ease;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
}

#heroBtn a {
  text-decoration: none;
  color: #fff;
  padding: 16px;
}

#heroBtn:hover {
  scale: 105%;
  background-color: #0066ff;
  box-shadow: 0 0 4px 0 #0066ff;
}

.brands {
  background-color: #fff;
  margin: 24px 0;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.brands h1 {
  padding: 24px;
  font-size: 28px;
}

.brandsImg {
  display: flex;
  align-items: center;
}

/* End Hero sections */
/* Slider Module */
.slider {
  width: 100%;
  overflow: hidden;
  border-radius: 12px;
}

.slider-row {
  width: 2956px;
  height: 194.5px;
  background-image: url(../assets/images/slider.jpg);
  background-size: 2956px 194.5px;
  animation: slide 50s linear infinite;
}

@keyframes slide {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -2956px;
  }
}
/* End Slider Module */
/* --- */
/* Hero Slider Module *//*# sourceMappingURL=style.css.map */