$bgColor: #eee;
$blockColor: #fff;
$gray: rgb(110, 110, 110);
$hoverColor: #0066ff;

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

*{
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: $bgColor;
    animation: fadeIn 1s;
    display: flex;
    align-items: flex-start;
}

main {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: auto;
    width: 70%;
}

/* Start header section */
header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 0px 10px 0px rgba($color: #000, $alpha: 0.1);
    background-color: $blockColor;
    border-radius: 12px;
    margin: 24px auto;
    padding: 12px;
}

.logoContainer {
    width: 10%;
}

#logoImg {
    width: 100%;
    margin: 8px;
    transition: .3s ease;
}

#logoImg:hover {
    scale: 105%;
}

.navbarBtnContainer {
    display: flex;
}

.navbarBtnContainer a {
    text-decoration: none;
    color: $gray;
    padding: 12px;
    transition: .3s ease;
}

.navbarBtnContainer a:hover {
    color: $hoverColor;
}

#navbarRightBtn i {
    color: #dcdcdc;
    scale: 250%;
    transition: .5s ease;
}

#navbarRightBtn i:hover {
    color: #0066ff;
}

#navbarBtn {
    margin: 0px 12px;
}

/* End header section */

/* --- */

/* Start Hero section */

.heroImgContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px 0 rgba($color: #000, $alpha: 0.2);
    height: 35em;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.heroImgContainer h1 {
    z-index: 2;
    position: absolute;
    font-size: 38px;
    text-align: center;
    color: #fff;
    margin-top: -100px;
}

.heroSlider {display: none;}

.slideshow-container {
    position: relative;
    overflow: hidden;
    border-radius: 12px; 
}

.heroSlider img {
    opacity: 50%;
    filter: blur(4px);
    width: 100%;
    z-index: -1;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 1em 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: $hoverColor;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

#heroBtn {
    z-index: 2;
    position: absolute;
    background-color: $gray;
    border: none;
    padding: 16px 0px;
    margin-top: 60px;
    border-radius: 12px;
    transition: .5s ease;
    box-shadow: 0 0 4px 0 rgba($color: #000, $alpha: 0.5)
}

#heroBtn a {
    text-decoration: none;
    color: #fff;
    padding: 16px;
}

#heroBtn:hover {
    scale: 105%;
    background-color: #0066ff;
    box-shadow: 0 0 4px 0 rgba($color: $hoverColor, $alpha: 1)
}

.brands {
    background-color: $blockColor;
    margin: 24px 0;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px 0 rgba($color: #000, $alpha: 0.1);
}

.brands h1 {
    padding: 24px;
    font-size: 28px;
}

.brandsImg {
    display: flex;
    align-items: center;
}

/* End Hero sections */


/* Start Benefits Sections */

.benefits {
    background-color: $blockColor;
    border-radius: 12px;
    margin: 24px 0;
    box-shadow: 0 0 10px 0 rgba($color: #000, $alpha: 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefits h1 {
    padding: 24px;
    font-size: 28px;
}

.benefitsRow {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
}

.benefitsItem {
    display: flex;
    flex-direction: column;
    padding: 2em;
    border-radius: 12px;
    border: #e7e7e7 2px solid;
    width: 25em;
    height: 15em;
    margin-bottom: 48px;
}

#benefitsItemContent {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#benefitsItemContent i {
    color: #0066ff;
    font-size: 48px;
    display: inline;
} 

.benefitsItem h4 {
    display: inline-block;
}

#benefitsItemContentTitle {
    font-weight: bold;
    font-size: 20px;
    margin: 1em 0;
    color: #000;
    display: flex;
}
/* */


/* Start Footer Section */

.footerFormContainer {
    background: url(../assets/images/banner_footer.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: row;
    height: 15em;
    border-radius: 12px 12px 0px 0px;
    box-shadow: 0 0 10px 0 rgba($color: #000, $alpha: 0.3);
    margin-top: 24px;
}

#footerBanner {
    border-radius: 12px 12px 0 0;
    z-index: 1;
}

.footerForm {
    display: flex;
    flex-direction: column;
    margin: 2em 7em;
}

.footerForm h1 {
    color: #fff;
}

.footerForm input {
    height: 3em;
    width: 15em;
    border: #e2e2e2 1px solid;
    border-radius: 8px;
    padding: 1em;
    margin: 1em 1em 1em 0;
}

#footerFormBtn {
    background-color: $gray;
    border: none;
    padding: 16px 0px;
    border-radius: 12px;
    transition: .5s ease;
    box-shadow: 0 0 4px 0 rgba($color: #000, $alpha: 0.5);
    width: 6em;
    height: 3em;
    line-height: 0em;
    margin-top: 1em;
}

#footerFormBtn:hover {
    scale: 105%;
    background-color: #0066ff;
    box-shadow: 0 0 4px 0 rgba($color: $hoverColor, $alpha: 1)
}

#footerFormBtn a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.footerMain {
    background-color: #1a1a1a;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.footerMainColumn {
    display: flex;
    flex-direction: column;
}

.footerMainColumn a {
    color: #dcdcdc;
    text-decoration: none;
    margin: 0.33em 0;
    transition: .2s ease;
}

.footerMainColumn p, i {
    color: #dcdcdc;
    transition: .2s ease;
}

.footerMainColumn a:hover {
    color: #0066ff;
}

.footerMainColumn hr {
    border: #666 1px solid;
    margin: 1em 0;
}

#footerSocialLinks {
    display: flex;
    justify-content: space-evenly;
}

#footerSocialLinks i {
    color: #dcdcdc;
    font-size: 32px;
}

#footerLogo{
    width: 15em;
}

/* End Footer Section */



/* Slider Module */

$img-w: 5912px;
$img-h: 389px;
$shrink: 2;
$ratio: 1 / $shrink;
$speed: 50s;

.slider {
    width: 100%;
    overflow: hidden;
    border-radius: 12px;
}

.slider-row {
    width: $img-w * $ratio;
    height: $img-h * $ratio;
    background-image: url(../assets/images/slider.png);
    background-size: $img-w * $ratio $img-h * $ratio;
    animation: slide $speed linear infinite;    
}

@keyframes slide {
  from { background-position-x: 0; }
  to   { background-position-x: -$img-w * $ratio; }
}

/* End Slider Module */


